<article class="post">
  <div class="title container-fluid">
    <div class="border border-3 rounded-3 p-2">
      {{title}}
      <div class="d-flex justify-content-end">
        Posted by
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
    </div>
    <div class="border border-3 rounded-3 p-3">
      {{message}}
    </div>
    <div class="meta mt-2">
      <a href="/post/{{id}}">{{format_plural "comment" comments.length}}</a>
    </div>
  </div>
</article>