<article class="post">
  <div class="title">
    <a href="{{message}}" target="_blank">{{title}}</a>
    <span>({{format_url message}})</span>
  </div>
  <div class="meta">
    by
    {{user.username}}
    on
    {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{format_plural "comment" comments.length}}</a>
  </div>
</article>